/*max-width:950px*/
    
      #navbar ul li{
        display: none;
      }
      #btnExtra {
        /* padding: 2px; */
         display: block;
         margin-right: 2rem;
         border: 2px solid rgb(206, 198, 198);
         display: flex;
         justify-content: center;
         align-items: center;      
      }
      #searchTab {
        display: none;
      }
      #searchIcon {
      display: none;
      }
    .contain2Box {
    min-height: 10rem;
    }
   .container2 
   {    
    grid-template-columns: 2fr 1fr;
   }
    #box1 {
      display: none;
    }
    #photoShow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #extraAll {
     display: flex;
    }
    /*class to images inside tablet.js */
    .extraImgClass {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0.3rem;
    } 
  /* third part of second box */
.contain1 {
  width:82% ;
}
.lastPartBox span {
  font-size: 1rem;
}
/* 4th part of second box */
    .lastPartBox p {
      font-size: 1rem;
  }